description = "Newsletters"
==
{% set posts = __SELF__.posts %}
<div class="newsletters ">
	{% for post in posts %}
	{% if post.user.login==this.page.id %}
		<div class="newslettersblock">
            <div class="newscatatr">
                <p>{{ post.title }}</p>
                <span>{{ post.excerpt|raw }}</span>
            </div>
            <div class="flexdis flexwrap flexcent flexfilnewslet">
                <a target="_blank" href="{{ post.engfile|media }}">{% partial 'svg/filles' %}{{ 'English'|_ }}</a>
                <a target="_blank" href="{{ post.rusfile|media }}">{% partial 'svg/filles' %}{{ 'Russian'|_ }}</a>
            </div>
	    </div>
    	{% endif %}
	{% endfor %}
</div>