description = "Партнеры страны"
==
<div id="parners" class="pad80">
    <div class="zaglov">{{ '<span>Partners</span>'|_ }}</div>
    <div class="part owl-carousel">
        <div class="item"><img src="/storage/app/media/part1.svg"></div>
        <div class="item"><img src="/storage/app/media/part2.svg"></div>
        <div class="item"><img src="/storage/app/media/part1.svg"></div>
        <div class="item"><img src="/storage/app/media/part2.svg"></div>
        <div class="item"><img src="/storage/app/media/part1.svg"></div>
        <div class="item"><img src="/storage/app/media/part2.svg"></div>
        <div class="item"><img src="/storage/app/media/part1.svg"></div>
        <div class="item"><img src="/storage/app/media/part2.svg"></div>
        <div class="item"><img src="/storage/app/media/part1.svg"></div>
        <div class="item"><img src="/storage/app/media/part2.svg"></div>
    </div>
</div>