description = "Main Area of Works"
==
{% set posts = __SELF__.posts %}
<div class="flexdis flexflow flexmaif">
	{% for post in posts %}
		<a href="{{ 'hww'|page}}#{{ post.slug }}" class="maifblock">
		    {% if(post.featured_images.count) %}
	        {% for image in post.featured_images %}   
	            <img 
	                data-src="{{ image.filename }}"
	                src="{{image.getThumb(400, 220, {'mode': 'crop', 'quality': 100, 'extension': 'jpg'}) }}"
	                alt="{{ image.description }}"
	                style="max-width: 100%" />
            {% endfor %}
	        {% else %} 
                <img src="/storage/app/media/noimage.svg">
            {% endif %}
            <p class="maifname" href="{{ post.url }}">{{ post.title|_ }}</p>
	    </a>
	{% endfor %}
</div>