==
<div id="back-top">
    <div class="container">
        <a href="#">{{ 'Back to top'|_ }} {% partial 'svg/backtop' %}</a>
    </div>
</div> 
<div class="footer">
    <div class="container">
        <div class="flexjust flexwrap flexfoot">
            <div class="foot1 foot">
                <div class="logos logofoot">
                    <a href="/"><img src="/storage/app/media/logoitc.svg"></a>
                    <a><img src="/storage/app/media/logoeurofoot2.svg"></a>
                </div>
                <p><b>{{ 'Email'|_ }}:</b><a href="mailto:Ready4Trade@intracen.org">Ready4Trade@intracen.org</a></p>
                <p><b>{{ 'Website'|_ }}</b><a href="https://www.intracen.org/ready4trade/">www.intracen.org/ready4trade </a></p>
                <p><b>{{ 'Newsletter mailing list'|_ }}</b><a target="_blank" href="https://forms.maillink.intracen.org/5a703e47b85b536a9f4bf608/TwVM4tUmS0yAPbxd-Wsydw/ySxfHBeqRjuwkDv6TER6bQ/form.html" class="subscribe">{{ 'Subscribe '|_}}</a></p>
            </div>
            <div class="foot2 foot">
                <div class="zaglovfoot">{{ 'ITC Headquarters'|_ }}</div>
                <div class="serblock">
<!--                    <div class="zaglovfoot">{{ 'Social media'|_ }}</div>-->
                    <div class="flexseti">
                        <a href="https://twitter.com/ITCnews" target="_blank">{% partial 'svg/twitter' %}</a>
                        <a href="https://www.instagram.com/internationaltradecentre" target="_blank">{% partial 'svg/instagram' %}</a>
                        <a href="https://www.facebook.com/InternationalTradeCentre" target="_blank">{% partial 'svg/facebook' %}</a>
                        <a href="https://www.linkedin.com/company/international-trade-centre" target="_blank">{% partial 'svg/linkedin' %}</a>
                        <a href="https://www.youtube.com/exportimpactforgood" target="_blank">{% partial 'svg/youtube' %}</a>
                    </div>
                </div>
                <p><b>{{ 'Postal address'|_ }}:</b><a>{{ 'Palais des Nations <br>1211 Geneva 10, Switzerland'|_ }}</a></p>
                <p><b>{{ 'Street address'|_ }}:</b><a>{{ 'ITC, 54-56, Rue de Montbrillant <br>1202 Geneva, Switzerland'|_ }}</a></p>
            </div>
            <div class="foot3 foot">
                <div class="zaglovfoot">{{ 'EU REGIONAL OFFICE'|_ }}</div>
                <div class="serblock">
<!--                    <div class="zaglovfoot">{{ 'Social media'|_ }}</div>-->
                    <div class="flexseti">
                        <a href="https://twitter.com/euinkazakhstan/" target="_blank">{% partial 'svg/twitter' %}</a>
                        <a href="https://www.instagram.com/euinkazakhstan" target="_blank">{% partial 'svg/instagram' %}</a>
                        <a href="https://www.facebook.com/EUinKZ" target="_blank">{% partial 'svg/facebook' %}</a>
                        <a href="https://www.linkedin.com/company/european-union-in-kazakhstan" target="_blank">{% partial 'svg/linkedin' %}</a>
                        <a href="https://www.youtube.com/user/EUExternalAction" target="_blank">{% partial 'svg/youtube' %}</a>
                    </div>
                </div>
                <p><b>{{ 'Address'|_ }}:</b><a>{{ '62 Kosmonavtov Street <br>Floor 7 Dist. Chubary <br>Z05E9E1 Nur-Sultan <br>Republic of Kazakhstan'|_ }}</a></p>
            </div>
        </div>
        <hr>
        <div class="flexjust flexcent flexwrap flexcopy">
            <div class="flexjust flexflexcent flexwrap flexduocopy">
                <a><b>{{ 'Terms and Conditions'|_ }}</b></a>
                <a><b>{{ 'Copyright Notice'|_ }}</b></a>
            </div>
        </div>
    </div>
</div>

